* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: rgb(238, 238, 238); /* Fondo claro */
  color: rgb(236, 223, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  overflow-x: hidden;
}
